In [1]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\aditi 732\anaconda3\lib\site-packages (2.9.9)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\aditi 732\anaconda3\lib\site-packages (1.4.39)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\aditi 732\anaconda3\lib\site-packages (from sqlalchemy) (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

## Extracting all the Data from CSV files into Python

In [4]:
order_df = pd.read_csv(r"C:\Users\Aditi 732\Desktop\Ecommerce Data Analysis\orders.csv\orders.csv")

In [5]:
order_df.head(5)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [6]:
aisles_df = pd.read_csv(r"C:\Users\Aditi 732\Desktop\Ecommerce Data Analysis\aisles.csv\aisles.csv")

In [7]:
aisles_df.head(5)

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [8]:
department_df = pd.read_csv(r"C:\Users\Aditi 732\Desktop\Ecommerce Data Analysis\departments.csv\departments.csv")

In [9]:
department_df.head(5)

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [10]:
department_df.dtypes

department_id     int64
department       object
dtype: object

In [11]:
product_df = pd.read_csv(r"C:\Users\Aditi 732\Desktop\Ecommerce Data Analysis\products.csv\products.csv")

In [12]:
product_df.head(5)

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [13]:
product_df.dtypes

product_id        int64
product_name     object
aisle_id          int64
department_id     int64
dtype: object

In [13]:
order_product_df = pd.read_csv(r"C:\Users\Aditi 732\Desktop\Ecommerce Data Analysis\order_products.csv\order_products__prior.csv").sample(n=100)

In [14]:
order_product_df.head(5)

          order_id  product_id  add_to_cart_order  reordered
27230108   2871325       21037                 22          0
14090577   1487067        8277                 10          0
11868296   1253043       39275                  6          1
2757965     291047       49510                  8          1
7885764     832416       35269                  3          0

## Connecting to PostegreSQL to load our dataset

In [9]:
# connection
try :
    conn = psycopg2.connect(dbname = "Ecomm_Analysis", user = 'postgres', password = 'password' , port ='5432')
except :
    print("Connection was unsuccessful")

In [10]:
cur = conn.cursor()

In [11]:
engine = create_engine('postgresql+psycopg2://postgres:password@localhost/Ecomm_Analysis')

## Creating new tables in PostgreSQL

In [54]:
cur.execute("""
CREATE TABLE aisles(
aisle_id INTEGER PRIMARY KEY,
aisle VARCHAR(255))
""")

In [55]:
cur.execute("""
CREATE TABLE department(
department_id INTEGER PRIMARY KEY,
department VARCHAR(255))
""")

In [56]:
cur.execute("""
CREATE TABLE products(
product_id INTEGER PRIMARY KEY, 
product_name VARCHAR(255),
aisle_id INTEGER, 
department_id INTEGER,
FOREIGN KEY (aisle_id) REFERENCES aisles(aisle_id),
FOREIGN KEY (department_id) REFERENCES department(department_id)
)
""")

In [57]:
cur.execute("""
CREATE TABLE orders(
order_id INTEGER PRIMARY KEY,
user_id INTEGER,
order_number INTEGER, 
order_dow INTEGER,
order_hour_of_day INTEGER,
days_since_prior_order INTEGER
)
""")

In [58]:
cur.execute("""
CREATE TABLE order_products(
order_id INTEGER,
product_id INTEGER,
add_to_cart_order INTEGER, 
reordered INTEGER,
PRIMARY KEY(order_id , product_id),
FOREIGN KEY (order_id) REFERENCES orders(order_id),
FOREIGN KEY (product_id) REFERENCES products(product_id)
)
""")

In [61]:
conn.commit()

## Loading all the Data from Python to SQL

In [62]:
aisles_df.to_sql('aisles',con=engine,if_exists = "append", index = False)

134

In [21]:
department_df.to_sql('department',con=engine,if_exists ="append", index = False)

21

In [28]:
order_df.drop('eval_set',inplace = True , axis = 1)

In [29]:
order_df.to_sql('orders',con=engine,if_exists="append",index = False)

83

In [22]:
product_df.to_sql('products',con=engine,if_exists="append",index = False)

688

In [15]:
order_product_df.to_sql('order_products',con=engine, if_exists = 'append', index= False)

100

## We have created a Data Pipeline that ingests data from CSV to Python and then into SQL . This project explians how ELT process is done and how we can build a data pipeline to store and transform data to PostgreSQL

## I hope you liked this project . Happy Coding !! ✨